{% extends 'baseLogin.html.twig' %}

{% block title %}Eseth Family!{% endblock %}

{% block body %}
    <body class="theme-cyan">
    <!-- WRAPPER -->
    <div id="wrapper">
        <div class="vertical-align-wrap">
            <div class="vertical-align-middle auth-main">
                <div class="auth-box">
                    <div class="top">
                        <img src="{{ asset('images/Logo-eSeth-Family-Fond-Blanc.pngtext') }}" alt="Lucid">
                    </div>
                    <div class="card">
                        <div class="header">
                            <p class="lead">S'inscrire</p>
                        </div>
                            <div class="body">
                                <form class="form-auth-small" method="post">
                                    <div class="form-group">
                                        <label for="signin-email" class="control-label sr-only">Email</label>
                                        <input type="email" name="email" class="form-control" id="inputEmail signin-email" required autofocus placeholder="Votre Email">
                                    </div>
                                    <div class="form-group">
                                        <label for="signin-password" class="control-label sr-only">Password</label>
                                        <input type="password" name="password" class="form-control" id="inputPassword signin-password" required placeholder="Votre Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="signin-nom" class="control-label sr-only">Nom</label>
                                        <input type="text" name="nom" class="form-control" id="inputNom signin-nom" required placeholder="Votre Nom">
                                    </div>
                                    <div class="form-group">
                                        <label for="signin-prenom" class="control-label sr-only">Prenom</label>
                                        <input type="text" name="prenom" class="form-control" id="inputPrenom signin-prenom" required placeholder="Votre Prenom">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">S'inscrire</button>
                                    <div class="bottom">
                                        <span><a href="{{ path('app_login') }}">Se connecter</a></span>
                                    </div>
                                </form>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->
    </body>

{% endblock %}
