{% extends 'base.html.twig' %}

{% block title %}New Ehpad{% endblock %}

{% block body %}
    <h1>Create new Ehpad</h1>

    {{ include('ehpad/_form.html.twig') }}

    <a href="{{ path('ehpad_index') }}">back to list</a>
{% endblock %}
