<form class="mb-5 ml-3 mt-5" method="post" action="{{ path('ehpad_delete', {'id': ehpad.id}) }}" onsubmit="return confirm('Etes-vous sur de bien vouloir supprimer cette ehpad ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ehpad.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
