td.day{
  padding: 15px;
}
th.next, th.dow, th.datepicker-switch, td.day{
  text-align: center;
}
div.auth-box div.top img{
  width: 260px !important;
}
div.auth-main:after{
  background: url("../images/fond_login.png") !important;
}

.register-box{
  width: 470px!important;
}